{% extends 'main.html' %}
{% load static %}
{% block body %}
<div class="col-sm-10 mx-4">
   
    <div class="mt-2 p-5 contentdiv"  >
        <div class="container">
           
            <p class="lead text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Incidunt quae nobis magni inventore quo laborum commodi officia sunt debitis, 
                voluptatum quam cupiditate enim laboriosam autem? Est eveniet pariatur adipisci temporibus!</p>
        </div>
    </div>

</div>

{% endblock body %}

