<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
           <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Firstpage' %}">Home</a>
          </li> 
          {% if user.is_authenticated %}
          <ul class="navbar-nav  ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome {{request.user}}
              </a>
           

              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'UserProfile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="#">Setting</a></li>
                <li><a class="dropdown-item" href="{% url 'UserLogout' %}">LogOut</a></li>
                
              </ul>
            </li>
          </ul>
         
         
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'SingUp' %}" data-bs-toggle="modal" data-bs-target="#exampleModal">SingUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'Login' %}" data-bs-toggle="modal" data-bs-target="#loginModal" >SingIn</a>
          </li>
          {% endif %}
        
         
          {% comment %} <li class="nav-item">
            <a class="nav-link active" href="{% url 'Aboutpage' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'ContactPage' %}">Contact</a>
          </li>
         
         
           {% endcomment %}
          {% comment %} {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'Dashbord' %}">DashBoard</a>
          </li>
          
          {% else %} 
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'SingUp' %}">SingUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Logins' %}">Login</a>
          </li>
          {% endif %} {% endcomment %}
         
        </ul>
      </div>
    </div>
  </nav>
 
  
  {% comment %} SingUp MODAL  {% endcomment %}
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel">Registration</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'SingUp' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="fname">First Name:</label>
              <input type="text" class="form-control" id="fname" name="fname" required>
            </div>
            <div class="form-group">
              <label for="lname" >Last Name:</label>
              <input type="text" class="form-control" id="lname" name="lname" required>
            </div>
            <div class="form-group">
              <label for="mobile">Mobie No:</label>
              <input type="text" class="form-control" id="mobile" name="mobile" required>
            </div>
            <div class="form-group">
              <label for="email" >Email:</label>
              <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="username" >Username:</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
              <label for="pass1" >Password:</label>
              <input type="text" class="form-control" id="pass1" name="pass1" required>
            </div>
            <div class="form-group">
              <label for="pass2" > Confirm Paaword:</label>
              <input type="text" class="form-control" id="pass2" name="pass2" required>
            </div>
          <button type="Submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>




{% comment %} login modal {% endcomment %}

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginmodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="loginmodal">Login</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'Login' %}">
          {% csrf_token %}
          
          <div class="form-group">
            <label for="loginusername" >Username:</label>
            <input type="text" class="form-control" id="loginusername" name="loginusername">
          </div>
          <div class="form-group">
            <label for="loginpass" >Password:</label>
            <input type="text" class="form-control" id="loginpass" name="loginpass">
          </div>
         
        <button type="Submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>