<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">College Network</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
           <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li> 
          {% comment %} <li class="nav-item">
            <a class="nav-link" href="{% url 'Aboutpage' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ContactPage' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'SingUp' %}">SingUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Login' %}">SingIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'UserLogout' %}">LogOut</a>
          </li> {% endcomment %}
          {% comment %} {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Dashbord' %}">DashBoard</a>
          </li>
          
          {% else %} 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'SingUp' %}">SingUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Logins' %}">Login</a>
          </li>
          {% endif %} {% endcomment %}
         
        </ul>
      </div>
    </div>
  </nav>