{% extends 'main.html' %}
{% block body %}
<form action="{% url 'UserProfile' %}"  method="post">
    {% csrf_token %}
<div class="form-group">
    <label for="exampleFormControlInput1" >Mobile No : </label>
    <input type="text" class="form-control"  id="exampleFormControlInput1" name="mobileno" placeholder="Enter Mobile No" value="{{mobileno}}"><br>
    <label for="exampleFormControlInput1" >Date Of Birth</label>
    <input type="date" class="form-control"  id="exampleFormControlInput1" placeholder="Enter Birth Date" name="dbo" value="{{dbo}}"><br>
    <label for="exampleFormControlInput1">Address</label>
    <input type="text" class="form-control"  id="exampleFormControlInput1" placeholder="Enter Address" name="addres" value="{{addres}}"><br>
    <!-- <label for="exampleFormControlInput1" >Blood Group</label>
    <input type="number" class="form-control"  id="exampleFormControlInput1" placeholder="Enter Bloo Group" name="blood" value="{{blood}}"><br>
     -->
    {% comment %} {{form.as_p}} {% endcomment %}
    <hr>

    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  
</form>


{% endblock body %}